<label>
    Name
    <input type="text" name="name" id="name" autocomplete="additional-name" value="<%= author.name %>"> 
</label>
<label>
    Email
    <input type="email" name="email" id="email" autocomplete="email" value="<%= author.email %>">
</label>