<h1>New Authors</h1>

<% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
<% } %>

<form action="/authors/new" method="POST">
    <%- include("./_form_fields") %>
    <a href="/authors">Cancel</a>
    <button type="submit">Create</button>
</form>